<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генератор Музыки !!</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="outer-cont">
        <div class="container">
            <h1 class="title">Робот 🎶 Композитор 🎶</h1>
            <form method="POST" action="/" enctype="multipart/form-data" class="form">
                <label for="user_text">Введите описание музыки:</label>
                <input type="text" id="user_text" name="user_text" required>
                <label for="user_duration">Введите длительность музыки в секундах:</label>
                <input type="number" id="user_duration" name="user_duration" min="1" required>
                <label for="genre">Выберите жанр:</label>
                <select id="genre" name="genre">
                    <option>Классическая</option>
                    <option>Джаз</option>
                    <option>Рок</option>
                    <option>Электронная</option>
                    <option>Поп</option>
                </select>
                <label for="mood">Выберите настроение:</label>
                <select id="mood" name="mood">
                    <option>Счастливое</option>
                    <option>Грустное</option>
                    <option>Энергичное</option>
                    <option>Спокойное</option>
                </select>
                <button type="submit" class="submit-btn">Сгенерировать Музыку</button>
            </form>
            {% if music_file_url %}
                <div class="music-player">
                    <h2>Сгенерированная Музыка</h2>
                    <audio controls>
                        <source src="{{ music_file_url }}" type="audio/wav">
                        Ваш браузер не поддерживает аудио элемент.
                    </audio>
                    <a href="{{ url_for('download_file', filename=music_file_url.split('/')[-1]) }}" class="download-btn">
                        Скачать Аудиофайл
                    </a>
                </div>
            {% endif %}
        </div>

    </div>
</body>
</html>

